mock-data-generator/node_modules/*
sample/*
.vscode/*
mock-data-generator/markers/*
batch-app/markers/*
/.idea/
.DS_Store
**/.DS_Store
test-harness/target/
carddemo-common/target/
carddemo-batch/target/
carddemo-online/target/
carddemo-migration/target/
